/* variables ================== */
/* ========== colors ========== */
:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-bg: #140c41;

  --color-1: #664946;
  --color-2: #fc5a17;
}
/* variables end ================== */

/* reset ================== */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

html {
  font-family: "Oxanium", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 62.5%;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  box-sizing: border-box;
  background-color: var(--color-bg);
  /* background-color: var(--color-black); */
}

@media only screen and (max-width: 400px) {
  body {
    padding: 0;
  }
}
/* reset end ================== */

/* Animations */
@keyframes zoom {
  0% {
    transform: scaleY(1.2);
  }
  40% {
    transform: scaleX(1.2);
  }
  80% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
/* Animations */

/* app style ================== */
/* ========== top nav ========== */
.main {
}

nav {
  padding-block: 3rem;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 4rem;
  border-left: 0.3rem solid #61ce6d;
  border-bottom: 0.5rem solid #61ce6d;
  border-right: 0.3rem solid #61ce6d;
  border-radius: 3rem;
  /* background-color: var(--color-2); */
  background-color: #fb9ade;
}

@media only screen and (max-width: 600px) {
  .nav-container {
    padding: 1rem 2rem;
  }
}

.links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.data-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.data-link {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 0.2rem solid var(--color-black);
  /* border-right: 0.4rem solid var(--color-black);
  border-left: 0.4rem solid var(--color-black);
  border-bottom: 0.4rem solid var(--color-black); */
  display: grid;
  place-items: center;

  img {
    height: 70%;
    width: 70%;
  }

  box-shadow: 0 0.4rem 0 rgb(0, 0, 0);
  transition: 0.3s;
}

.data-link:active {
  box-shadow: 0 0.1rem 0 rgb(0, 0, 0);
}

@media only screen and (max-width: 550px) {
  .hide-on-mobile {
    display: none;
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  gap: 5rem;
}

.hero-img-container {
  max-height: 480px;
  max-width: 401px;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    /* mix-blend-mode: hard-light; */
  }
}

@media only screen and (max-width: 600px) {
  .hero {
    flex-wrap: wrap;
  }
}

/* .hero::before {
  position: absolute;
  content: url("./assets/splash.gif");
  left: 0;
} */
/* .hero::after {
  position: absolute;
  content: url("./assets/cash.png");
  width: 30.4rem;
  height: 20.6rem;
  right: 10rem;
} */

.splash-container {
  position: absolute;
  top: 0;
  left: 20rem;
  max-width: 30.5rem;
  max-width: 33.9rem;

  img {
    width: 100%;
    height: 100%;
  }
}

.slider_sec-1 {
  border-block: 2px solid #54bc69;
  padding-block: 2rem;
  background-color: #ebbff8;
  transform: rotate(-3deg);
  /* 
  background: linear-gradient(rgba(235, 9, 9, 0.896), rgba(0, 0, 0, 0.4)),
    url("./assets/rough-bg.jpg"); */
}
.slider-1 {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.slider_sec-2 {
  border-block: 2px solid #54bc69;
  padding-block: 2rem;
  background-color: #ebbff8;
  /* transform: rotate(-6deg); */
}
.slider-2 {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.slider-img {
  max-width: 5rem;
  max-height: 5rem;
}

.nigga-nomic__section {
  padding-top: 10rem;
}

.nigga-nomics {
  background-color: #fb9ade;
  padding-block: 6rem;
  border-radius: 2rem;
  position: relative;

  border-left: 0.3rem solid black;
  border-bottom: 0.5rem solid black;
  border-right: 0.3rem solid black;

  .nigga-heading {
    margin-top: -8rem;
    margin-bottom: 3rem;
  }
}

/* .nigga-nomics::after {
  position: absolute;
  content: url("./assets/music.gif");
  bottom: 100%;
  width: 10rem;
} */

.tokenomics {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 3rem;
}

.ca_section {
  padding-block: 2rem;
}

.ca-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.ca {
  background-color: #fc9ade;
  padding: 1rem 3rem;

  border-radius: 2rem;

  border-left: 0.3rem solid #61ce6d;
  border-bottom: 0.5rem solid #61ce6d;
  border-right: 0.3rem solid #61ce6d;
  flex-grow: 1;
}

.ca-btn {
  background-color: #664946;
  padding: 1rem 3rem;

  border-radius: 2rem;

  border-left: 0.3rem solid black;
  border-bottom: 0.5rem solid black;
  border-right: 0.3rem solid black;
  color: white;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
}

.memes_section {
  overflow: auto;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.memes_section::-webkit-scrollbar {
  display: none;
}

.memes_container {
  display: flex;
  align-items: flex-end;
  gap: 4rem;
}

.memes_img_container {
  flex-shrink: 0;
  flex-basis: 20rem;
  height: 20rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media only screen and (max-width: 600px) {
  .ca-container {
    flex-wrap: wrap;
  }
  .memes_container {
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.l-n-1 {
  animation-name: bounce;
  animation-duration: 2s;
  animation-timing-function: linear;
  /* animation-delay: 2s; */
  animation-iteration-count: infinite;
  /* animation-direction: reverse; */
  animation-fill-mode: both;
}
.l-n-2 {
  animation-name: bounce;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  /* animation-direction: reverse; */
  animation-fill-mode: both;
}
.l-n-3 {
  animation-name: bounce;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  /* animation-direction: reverse; */
  animation-fill-mode: both;
}
.l-n-4 {
  animation-name: bounce;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 1.6s;
  animation-iteration-count: infinite;
  /* animation-direction: reverse; */
  animation-fill-mode: both;
}

.fixed-footer {
  position: relative;
}

.fixed-buy-button {
  position: fixed;
  bottom: 3rem;
  right: 10rem;
  background-color: #0a5713;
  padding: 1rem 3rem;
  border-radius: 3rem;
  text-decoration: none;
  border-left: 0.1.2rem solid #fc9ade;
  border-bottom: 0.5rem solid #fc9ade;
  border-right: 0.1.2rem solid #fc9ade;
}

.fixed-buy-button::after {
  position: absolute;
  content: url("./assets/fire.gif");
  bottom: 12rem;
  left: 0;
  height: 1rem;
  width: 1rem;
  mix-blend-mode: saturation;
}

footer {
  padding-block: 5rem;
}

/* ****** */
/* Image test */
.img-test {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.img-conc {
  height: 30rem;
  width: 30rem;

  img {
    width: 100%;
    height: 100%;
  }
}
/* ****** */

@media only screen and (max-width: 600px) {
  .nav {
    flex-wrap: wrap;
    /* gap: 10rem; */
  }
}

@media only screen and (max-width: 600px) {
  .hero-img {
    padding-top: 0;
  }
  .links {
    flex-wrap: wrap;
    gap: 1rem;
  }
}

/* app style end ================== */

/* Utilities */
.center {
  max-width: 1345px;
  max-width: 1100px;
  margin-inline: auto;
}

@media only screen and (max-width: 600px) {
  .center {
    margin-inline: 1rem;
  }
}

.center-md {
  max-width: 1440px;
  margin-inline: auto;
}

/* Margins */
.mt150 {
  margin-top: 150px;
}
.mt110 {
  margin-top: 110px;
}
.mt80 {
  margin-top: 80px;
}
.mt50 {
  margin-top: 50px;
}
.mt30 {
  margin-top: 30px;
}
.mt20 {
  margin-top: 20px;
}
.mt10 {
  margin-top: 10px;
}
.mt5 {
  margin-top: 5px;
}
.mt-5 {
  margin-top: -5px;
}

.mb80 {
  margin-bottom: 80px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb15 {
  margin-bottom: 15px;
}

.mx-auto {
  margin-inline: auto;
}

/* Headings */
.h1 {
  font-family: "Freckle Face", system-ui;
  color: var(--color-white);
  font-size: 3rem;
  /* text-shadow: 2px 2px var(--color-1); */
  text-shadow: 2px 2px var(--color-black);
}

.h2 {
  font-family: "Oxanium", sans-serif;
  font-weight: 800;
  color: var(--color-white);
  font-size: 1.2rem;
  margin-left: -0.5rem;
}

.h3 {
  font-family: "Freckle Face", system-ui;
  color: var(--color-white);
  font-size: 6rem;
  font-size: clamp(3.5rem, 5vw, 6rem);
  text-shadow: 2px 2px var(--color-black);
  transform: rotate(-8deg);
}

.h4 {
  font-family: "Freckle Face", system-ui;
  color: var(--color-white);
  font-size: 3rem;
  text-shadow: 2px 2px var(--color-black);
}

.h5 {
  font-family: "Oxanium", sans-serif;
  font-weight: 500;
  color: var(--color-2);
  font-size: 3rem;
}

.h6 {
  font-family: "Freckle Face", system-ui;
  font-weight: 800;
  /* color: var(--color-white); */
  color: #fb9ade;
  font-size: 10rem;
  font-size: clamp(5rem, 9vw, 10rem);
  text-shadow: 0 4px 2px rgb(32, 32, 32);
}

.h7 {
  font-family: "Freckle Face", system-ui;
  font-weight: 800;
  color: var(--color-2);
  font-size: 5rem;
  font-size: clamp(2rem, 9vw, 3rem);
  margin-left: -1.3rem;
  text-shadow: 0 4px 2px rgb(32, 32, 32);
}

/* Paragraphs */
.p1 {
  font-size: 2rem;
  color: var(--color-white);
  font-weight: 500;
}

.p2 {
  font-size: 1.5rem;
  color: var(--color-white);
  font-weight: 500;
}

.p3 {
  font-size: 2rem;
  color: var(--color-white);
  font-weight: 700;
  word-break: break-all;
  -ms-word-break: break-all;
  word-wrap: break-word;
  text-wrap: wrap;
}

/* links */
.l-d {
  text-decoration: none;
}

.l1 {
  font-family: "Freckle Face", system-ui;
  font-size: 1.8rem;
  color: var(--color-white);
  text-decoration: none;
}

.l2 {
  font-family: "Freckle Face", system-ui;
  color: var(--color-white);
  font-size: 3rem;
  /* text-shadow: 2px 2px var(--color-1); */
  text-shadow: 2px 2px var(--color-black);
}

.l3 {
  font-family: "Freckle Face", system-ui;
  color: var(--color-white);
  font-size: 2rem;
  text-shadow: 2px 2px var(--color-black);
}

/* Text alignment */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* Colors */
.color-white {
  color: white;
}

/* Width */
.max-width-1025 {
  max-width: 1025px;
}
.max-width-990 {
  max-width: 990px;
}
.max-width-840 {
  max-width: 840px;
}
.max-width-575 {
  max-width: 575px;
}
.max-width-570 {
  max-width: 555px;
}
.max-width-200 {
  max-width: 450px;
}
